
<body style="background-color:whitesmoke;background-image: url(../../assets/bg7.jpg);
background-repeat: no-repeat;background-size: cover;width: 100%;">
<br><br>

<div class="modal-dialog" style="width: 500px;">
    <div class="modal-content" style="background-color: whitesmoke;
    background-image: url(../../assets/bg10.webp);background-repeat:no-repeat;background-size: cover;">
        <div class="modal-header text-center">
            <h4 class="modal-taskTitle" style="font-family: bold;font-size: xx-large;margin-left:170px;">Task
            </h4>
        </div>
        <div *ngIf="success == true;then SUCC else FAIL"></div>
        <ng-template #SUCC><b style="color:green;text-align: center;font-size: x-large;">{{ message }}</b></ng-template>
        <ng-template #FAIL><b style="color:red;text-align: center;font-size: x-large;">{{ message }}</b></ng-template>

        <form>
        <div class="modal-body" style="padding: 10px;">

            <div class="form-group row">
                <div class="col-lg-1"></div>
                <label class="col-lg-3 form-control-label">Creation Date<span style="color:red">*</span></label>
                    <div class="col-lg-6">
                        <input [(ngModel)]="form.creationDate" name="creationDate" type="Date" style="width:200px;">
                        <span style="color:red">{{ inputError.creationDate }}</span>
                    </div>
            </div>
            
            <div class="form-group row">
                <div class="col-lg-1"></div>
                <label class="col-lg-3 form-control-label">Task Title<span style="color:Red">*</span></label>
                <div class="col-lg-6">
                    <input [(ngModel)]="form.taskTitle" name="taskTitle" type="text" placeholder="Enter your taskTitle">
                    <span style="color:red">{{ inputError.taskTitle }}</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-1"></div>
                <label class="col-lg-3 form-control-label">Details<span style="color:Red">*</span></label>
                <div class="col-lg-6">
                    <textarea [(ngModel)]="form.details" name="details" placeholder="Enter your taskTitle" id="">form.details</textarea>
                    <span style="color:red">{{ inputError.details }}</span>
                </div>
            </div>                          
            <div class="form-group row">
                <div class="col-lg-1"></div>
                <label class="col-lg-3 form-control-label">Assign To<span style="color:Red">*</span></label>
                <div class="col-lg-6">
                    <select [(ngModel)]="form.aid" name="aid" style="width: 200px;height:30px;">
                        <option *ngFor="let r of preloadData"  value="{{ r.aid}}">{{ r.assignTo }}</option>
                        </select>
                    <span style="color:red">{{ inputError.aid }}</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-1"></div>
                <label class="col-lg-3 form-control-label">Task Status<span style="color:Red">*</span></label>
                <div class="col-lg-6">
                    <select [(ngModel)]="form.sid" name="sid" style="width: 200px;height:30px;">
                        <option *ngFor="let r of preloadData1"  value="{{ r.sid}}">{{ r.taskStatus }}</option>
                        </select>
                    <span style="color:red">{{ inputError.sid }}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-3">
                    <button (click)="save()" type="submit" class="btn btn-success form-control">Save</button>
                </div>
                <div class="col-lg-3">
                    <button (click)="reset()" class="btn btn-primary form-control">Reset</button>
                </div>
            </div>

        </div>
        </form>

    </div>
</div>

</body>
